/***********************************
    Mobile CSS - BETA
***********************************/
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px){

    #page{
        min-width: 240px;
        width: 100% !important;
        position: relative;
        overflow: hidden;
        margin: 0 !important;
        border-radius: 0 !important;
    }
    #header{
        min-width: 240px;
        background: none !important;
        height: 100px !important;
    }
    #content{
        float:none !important;
        width: 95% !important;
        margin: 5px auto;
    }
    #l_sidebar, #r_sidebar{
        float: none !important;
        width: 95% !important;
        margin: 5px auto;
    }
    .sidebar > ul > li{
        min-width: 32%;
        display: inline-block;
        vertical-align: text-top;
        max-width: 48%
    }
    ul#admin{
        display:none;
    }
    #navmenu{
        background: none;
        height: auto;
        margin: 0;
        border: none;
        box-shadow: none;
    }
    .top-menu{
        display:none;
        background-color: #e3e3e3;
        border: 1px solid #aaa;
        width: 80%;
        height: auto;
        padding: 5px 0 5px;
        margin-left: 10px;
        box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
    }
    #menu-icon{
        display:block;
        background-color: #e1e1e1;
        z-index: 10;
        box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        width: 35px;
        height: 25px;
        font-size: 18px;
        border: 1px solid #aaa;
        margin: 10px 0 5px 10px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
    }
    #menu-icon .icon-bar{
        background-color: #F5F5F5;
        border-radius: 2px 2px 2px 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        display: block;
        height: 3px;
        margin: 4px auto;
        width: 23px;
    }
    #menu-icon.active{
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .ribbon ul.top-menu:before, .ribbon ul.top-menu:after, .ribbon ul.top-menu > li:first-child, .square ul.top-menu > li:first-child{
        border: none;
    }
    ul.top-menu li{
        background-color: #e3e3e3;
        margin: 0 !important;
        border: none !important;
        height: auto;
        min-height: 35px;
        text-align: left;
        float: none !important;
        width: 100%;
        padding: 0 !important;
    }
    .ribbon ul.top-menu > li.has_children:hover:after, .square ul.top-menu > li.has_children:hover:after, #dropdown > li.has_children:hover:after{
        display:none;
    }
    .ribbon ul.top-menu > li.has_children, .square ul.top-menu > li.has_children{
        padding: 0;
    }
    #dropdown a, .top-menu a {
        padding: 5px;
        font-size: 14px !important;
        line-height: 25px !important;
    }
    ul.top-menu li ul{
        visibility: visible !important;
        width: 100%;
        display: normal !important;
        width: 100% !important;
        opacity: 1 !important;
        position: static;
        left: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border: 0;
    }
    ul.top-menu ul{
        top: 0 !important;
        margin: 0;
        padding: 0 !important;
    }
    ul.top-menu li ul li{
        width: 100% !important;
        height: auto;
        min-height: 35px;
    }
    .sub-menu li a{
        padding-left: 1em;
    }
    .sub-menu .sub-menu li a{
        padding-left: 1.5em;
    }
    #navmenu #searchform{
        float:right;
        margin: 0;
        position: absolute;
        top: -45px;
        right: 15px;
    }
    #navmenu #searchform #s{
        width: 120px;
    }
    #headerimgwrap{
        top: 10% !important;
    }
    #header-logo, #headerimg{
        max-width: 90%;
        padding: 0 !important;
    }
    #header-logo img{
        max-width: 100%;
        max-height: 100px;

    }
    .top, .sticky .top{
        position: static;
        background: none !important;
        box-shadow: none !important;
    }
    .top:hover{
        -webkit-transform:none;  
        -moz-transform:none;  
        -o-transform:none;
        -ms-transform: none;
        transform:none;
    }
    .entry, .sticky .entry{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }
    .post{
        margin-bottom: 20px;
    }
    .post_title{
        margin-top: 10px;
    }
    .navigation{
        clear: both;
    }
    .navigation div{
        display:block;
        background-color: #e3e3e3;
        z-index: 10;
        box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
        font-size: 18px;
        border: 1px solid #aaa;
        padding: 5px 8px;
        border-radius: 2px;
        -moz-box-radius: 2px;
        -webkit-border-radius: 2px;
    }
}